.pitchCard {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  min-height: 200px; // thêm dòng này
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
